@model Client.ViewModels.Authentication.SignUpVM
@{
	Layout = "_FreelanceLayout";
	ViewData["Title"] = "SignUp";
}

<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>SignUp</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li>SignUp</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>

<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-8 offset-xl-2">

			<div class="login-register-page">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3 style="font-size: 26px;">Let's create your account!</h3>
					<span>Already have an account? <a href="pages-login.html">Log In!</a></span>
				</div>

				<div class="sign-in-form">
					<!-- Form -->
					<form id="register-account-form-page" class="register-account-form" action="/Authentication/SignUp" method="post">

						<!-- progressbar -->
						<ul class="progressbar">
							<li class="active">Personal Details</li>
							<li>Address</li>
							<li>Additional Information</li>
						</ul>

						<!-- fieldsets -->
						<fieldset class="row">
							<div class="col-lg-12">
								<!-- Account Type -->
								<div class="account-type">
									<div>
										<input type="radio" name="AccountType" id="freelancer-signup-radio" class="signup-account-type-freelancer account-type-radio" checked value="1" />
										<label for="freelancer-signup-radio" class="ripple-effect-dark"><span class="radio-label"></span> Freelancer</label>
									</div>

									<div>
										<input type="radio" name="AccountType" id="employer-signup-radio" class="signup-account-type-employer account-type-radio" value="2" />
										<label for="employer-signup-radio" class="ripple-effect-dark"><span class="radio-label"></span> Employer</label>
									</div>
								</div>
								<div class="radio-group-account-type margin-bottom-20">
									<div class="radio">
										<input type="radio" id="register-user-chekcbox-page" name="IsCompany" class="register-user-chekcbox" value="false" checked="checked">
										<label for="register-user-chekcbox-page"><span class="radio-label"></span> Register as a user</label>
									</div>
									<br>
									<div class="radio">
										<input type="radio" id="register-company-checkbox-page" name="IsCompany" class="register-company-chekcbox" value="true">
										<label for="register-company-checkbox-page"><span class="radio-label"></span> Register as a company</label>
									</div>
								</div>
								
								<div class="input-with-icon-left">
									<i class="icon-material-baseline-mail-outline"></i>
									<input type="email" class="input-text with-border" name="Email" id="emailaddress-register-page" placeholder="Email Address"/>
									@Html.ValidationMessage("Email-empty", null, new { @class = "error" })
									@Html.ValidationMessage("Email-format", null, new { @class = "error" })
								</div>
								<div class="input-with-icon-left">
									<i class="icon-material-outline-business-center"></i>
									<input type="text" class="input-text with-border companyName-register" name="CompanyName" id="companyName-register-page" placeholder="Company Name">
									@Html.ValidationMessage("CompanyName-empty", null, new { @class = "error" })
								</div>
								<div class="input-with-icon-left">
									<i class="icon-material-outline-account-circle"></i>
									<input type="text" class="input-text with-border firstName-register" name="FirstName" id="firstName-register-page" placeholder="First Name">
									@Html.ValidationMessage("FirstName-empty", null, new { @class = "error" })
								</div>
								<div class="input-with-icon-left">
									<i class="icon-material-outline-account-circle"></i>
									<input type="text" class="input-text with-border lastName-register" name="LastName" id="lastName-register-page" placeholder="Last Name">
									@Html.ValidationMessage("LastName-empty", null, new { @class = "error" })
								</div>
								<div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
									<i class="icon-material-outline-lock"></i>
									<input type="password" class="input-text with-border" name="Password" id="password-register-page" placeholder="Password" />
									@Html.ValidationMessage("Password-empty", null, new { @class = "error" })
								</div>
								<div class="input-with-icon-left">
									<i class="icon-material-outline-lock"></i>
									<input type="password" class="input-text with-border" name="ConfirmPassword" id="password-repeat-register-page" placeholder="Confirm Password" />
									@Html.ValidationMessage("ConfirmPassword-empty", null, new { @class = "error" })
									@Html.ValidationMessage("ConfirmPassword-mismatch", null, new { @class = "error" })
								</div>
								<div class="row gender-and-birthdate">
									<div class="col-6">
										<div class="section-headline margin-bottom-12">
											<h5>Gender</h5>
										</div>
										<div class="radio">
											<input id="gender-option-male-page" name="Gender" type="radio" checked="checked" value="male">
											<label for="gender-option-male-page"><span class="radio-label"></span> Male</label>
										</div>
										<div class="radio">
											<input id="gender-option-female-page" name="Gender" type="radio" value="female">
											<label for="gender-option-female-page"><span class="radio-label"></span> Female</label>
										</div>
										<div class="radio">
											<input id="gender-option-other-page" name="Gender" type="radio" value="other">
											<label for="gender-option-other-page"><span class="radio-label"></span> Other</label>
										</div>
									</div>
									<div class="col-6">
										<div class="section-headline margin-bottom-1">
											<h5>Date of birth</h5>
										</div>
										<div class="input-with-icon-right">
											<i class="iicon-material-outline-date-range"></i>
											<input type="date" class="input-date with-border" name="DOB" id="dob-register-page" placeholder="YYYY/MM/DD">
											@Html.ValidationMessage("DOB-empty", null, new { @class = "error" })
										</div>
									</div>
								</div>
							</div>
							<button type="button" name="next" class="next margin-top-10 full-width button button-sliding-icon ripple-effect">
								Next
								<i class="icon-material-outline-arrow-right-alt"></i>
							</button>
						</fieldset>
						<fieldset class="row">
							<div class="col-lg-12">
								<div class="section-headline">
									<h5>Country</h5>
								</div>
								<div id="selectCountriesOuther" class="btn-group bootstrap-select margin-bottom-12 margin-top-5 selectCountriesOuther">
									<select id="countriesList" name="CountryId" class="selectpicker with-border countriesList" data-live-search="true" tabindex="-98">
										<option value="0">Nothing selected</option>
									</select>
									@Html.ValidationMessage("CountryId-empty", null, new { @class = "error" })
								</div>
								<div class="section-headline">
									<h5>State</h5>
								</div>
								<div id="selectRegionsOuther" class="btn-group bootstrap-select margin-bottom-12 margin-top-5 selectRegionsOuther">
									<select id="regionsList" name="RegionId" class="selectpicker with-border regionsList" data-live-search="true" tabindex="-98">
									</select>
									@Html.ValidationMessage("RegionId-empty", null, new { @class = "error" })
								</div>
								<div class="section-headline">
									<h5>City</h5>
								</div>
								<div id="selectCitiesOuther" class="btn-group bootstrap-select margin-bottom-15 margin-top-5 selectCitiesOuther">
									<select id="citiesList" name="CityId" class="selectpicker with-border citiesList" data-live-search="true" tabindex="-98">
									</select>
									@Html.ValidationMessage("CityId-empty", null, new { @class = "error" })
								</div>
								<div class="input-with-icon-left">
									<i class="icon-material-outline-add-location"></i>
									<input type="text" class="input-text with-border" name="AddressInfo" id="addressInfo-register-page" placeholder="Aditional address information"/>
									@Html.ValidationMessage("AddressInfo-empty", null, new { @class = "error" })
								</div>
							</div>
							<button type="button" name="next" class="next margin-top-10 full-width button button-sliding-icon ripple-effect">
								Next
								<i class="icon-material-outline-arrow-right-alt"></i>
							</button>
							<button type="button" name="previous" class="previous margin-top-10 button button-sliding-icon ripple-effect">
								Previous
								<i class="icon-feather-arrow-left"></i>
							</button>
						</fieldset>
						<fieldset class="row">
							<div class="col-lg-12">
								<div class="input-with-icon-left margin-top-12">
									<i class="icon-line-awesome-phone"></i>
									<input type="tel" class="input-text with-border" name="PhoneNumber" id="phoneNumber-register-page" placeholder="Phone Number" />
								</div>
								<div class="input-with-icon-left">
									<i class="icon-brand-linkedin-in"></i>
									<input type="text" class="input-text with-border" name="LinkedInAccount" id="linkedInAccount-register-page" placeholder="LinkedIn Account" />
								</div>
								<textarea cols="30" rows="5" name="Description" placeholder="Description" class="with-border"></textarea>
							</div>
							<button type="button" name="previous" class="previous margin-top-10 button button-sliding-icon ripple-effect">
								Previous
								<i class="icon-feather-arrow-left"></i>
							</button>
							<!-- Button -->
							<button class="margin-top-10 register-btn button button-sliding-icon ripple-effect" type="submit" form="register-account-form-page">
								Register
								<i class="icon-line-awesome-sign-in"></i>
							</button>
						</fieldset>
					</form>

					<!-- Social Login -->
					<div class="social-login-separator"><span>or</span></div>
					@Html.ValidationMessage("AuthenticationFailed", null, new { @class = "error" })
					<div class="social-login-buttons">
						<button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Register via Facebook</button>
						<button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Register via Google+</button>
					</div>
				</div>

				
			</div>

		</div>
	</div>
</div>

<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->